name: Create new release

on: push # to be changed to tag?

env:
  image-tarball: desc-rail-${{github.ref_name}}-docker.tar

jobs:
  Make-Release:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0} # for conda, since otherwise default is sh

    steps:
      # setup
      - uses: actions/checkout@v6
      - uses: conda-incubator/setup-miniconda@v3.2.0
        with:
          conda-remove-defaults: true # not required, but avoids a warning
      - uses: docker/setup-buildx-action@v3.11.1

      # lockfiles
      - name: Create Lockfiles
        run: |
          conda install --channel conda-forge --yes -- conda-lock
          conda-lock lock --kind explicit \
            --platform linux-64 --platform osx-arm64 \
            --file conda-lock/environment.yml

      # docker image
      - name: Build the Docker Image
        run: |
          cp conda-*.lock Docker/
          cp install_rail.py Docker/
          docker buildx create --name container --driver=docker-container
          docker buildx build \
            --builder container  \
            --output type=docker,dest=${{env.image-tarball}} \
            --tag desc-rail:${{github.ref_name}} \
            -- Docker/

      # make the release
      - name: GH Release
        uses: softprops/action-gh-release@v2.4.2
        with:
          draft: true
          # make_latest: true # can't be combined w/ prerelease/draft
          # files: |
          #   install_rail.py
          #   conda-linux-64.lock
          #   conda-osx-arm64.lock
          #   ${{env.image-tarball}}
