name: Create a new release with ready-to-use assets

on:
  push:
    tags:
      - "v*.*.*" # run on tag creation

env:
  image-tarball: desc-rail-${{github.ref_name}}-docker.tar
  image-tag: desc-rail:${{github.ref_name}}
  artifact-lockfiles: lockfiles
  artifact-docker-image: docker-image

jobs:
  check-versioning:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Check Git tag matches version in source
        run: exit $(python -c "import install_rail;print(int(install_rail.__version__!='${{github.ref_name}}'))")

  build-lockfiles:
    runs-on: ubuntu-latest
    needs: check-versioning
    defaults:
      run:
        shell: bash -el {0} # for conda, since otherwise default is sh

    steps:
      # setup
      - uses: actions/checkout@v6
      - uses: conda-incubator/setup-miniconda@v3.2.0
        with:
          conda-remove-defaults: true # not required, but avoids a warning
      # build
      - name: Create Lockfiles
        run: |
          conda install --channel conda-forge --yes -- conda-lock
          conda-lock lock --kind explicit \
            --platform linux-64 --platform osx-arm64 \
            --file environment.yml \
      # upload
      - name: Upload lockfile artifacts
        uses: actions/upload-artifact@v5
        with:
          name: ${{env.artifact-lockfiles}}
          path: conda-*.lock

  make-release:
    runs-on: ubuntu-latest
    needs: build-lockfiles
    steps:
      # setup
      - uses: actions/checkout@v6
      - name: Download lockfile artifacts
        uses: actions/download-artifact@v6
        with:
          name: ${{env.artifact-lockfiles}}
      # release
      - uses: softprops/action-gh-release@v2.4.2
        with:
          make_latest: true # can't be combined w/ prerelease/draft
          body: "
            To test out the RAIL installation script, download and run the below
            `install_rail.py`. When debugging, use the `--verbose` flag to provide
            additional context.
            "
          files: |
            install_rail.py
            conda-linux-64.lock
            conda-osx-arm64.lock

  build-docker:
    runs-on: ubuntu-latest
    needs: build-lockfiles
    steps:
      # setup
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3.11.1
      - name: Download lockfile artifacts
        uses: actions/download-artifact@v6
        with:
          name: ${{env.artifact-lockfiles}}
      # log in to the github registry
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # build
      - uses: docker/build-push-action@v6
        with:
          context: . # use the current filesystem instead of a fresh checkout
          push: true
          tags: ${{env.image-tag}}
