name: Create new release

on: [push]

jobs:
  Make-Release:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0} # for conda, since otherwise default is sh

    steps:
      # setup
      - uses: actions/checkout@v6
      - uses: conda-incubator/setup-miniconda@v3.2.0
        with:
          conda-remove-defaults: true # not required, but avoids a warning

      # lockfiles
      - name: generate lockfiles
        run: |
          conda install --channel conda-forge --yes -- conda-lock
          conda-lock lock --kind explicit \
            --platform linux-64 --platform osx-arm64 \
            --file conda-lock/environment.yml

      # docker image
      - name: Build the Docker Image
        run: docker buildx build --tag desc-rail:${{github.ref_name}} -- Docker/

      # checks
      - name: test docker image build
        run: docker image ls
      - name: test lockfiles
        run: ls
